<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tic Tac Toe!</title>

    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()

    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
